.main--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  place-content: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.card {
  border-radius: 0px;
  border: 1px solid rgb(32, 63, 63);
  background-color: rgb(236, 242, 247);
  text-align: center;
  box-shadow: rgba(46, 162, 240, 0.4) -5px 5px,
    rgba(46, 217, 240, 0.3) -10px 10px, rgba(46, 114, 240, 0.2) -15px 15px,
    rgba(46, 153, 240, 0.1) -20px 20px, rgba(46, 146, 240, 0.05) -25px 25px;
}

/* CSS */

.button-19 {
  appearance: button;
  background-color: #115777;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: cell;
  display: table;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #115777;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
